

@media(min-width:320px) and (max-width: 480px){
    .navigation{
        flex-direction: column;
        align-items: center;       
    }
    .nav-2{
        display: none;
    }
} 

@media(min-width:481px) and (max-width: 1024px){
    .navigation{
        width: 480px;
        flex-direction: column;
        align-items: center;
       
    }
} 

@media(min-width: 320px) and (max-width: 480px){
    .conteiner1{
        width: 320px;
        flex-direction: column;
        align-items: center;
     }

     .big-img{
        width: 250px;
        margin-top: 50px;
        
     }
}

@media(min-width: 481px) and (max-width: 768){
    .conteiner1{
        width: 380px;
        flex-direction: column;
        align-items: center;
     }

     .big-img{
        width: 250px;
        margin-top: 50px;
        
     }

}

@media(min-width: 769) and (max-width: 1024px){

    .conteiner1{
        width: 700px;
        flex-direction: column;
        align-items: center;
     }

     .big-img{
        width: 300px;
        margin-top: 50px;        
     }
}

@media(min-width: 320) and (max-width: 480px){

    .text{
        width: 300px;
       
     }            
     }

     @media(max-width: 1024px) {
        .boxes{
            width: 150px;
            height:350px;

        }
        
     }    



