@media(min-width:320px) and (max-width: 480px){
    .navigation{
        flex-direction: column;
        align-items: center;   
    }
    .nav-2{
        display: none;
    }
} 

@media(min-width:481px) and (max-width: 1024px){
    .navigation{
        width: 480px;
        flex-direction: column;
        align-items: center;
       
    }
} 

/* pirveli bloki */

@media(min-width:320px) and (max-width: 1024px){
    .conteiner1{
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        height: 700px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .mobile{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .blue-box{
        width: 50%;
        margin-top: 2%;
    }
    }  
   


    @media (min-width: 320px) and (max-width: 480px) {
        .big-img{
            width: 100%;
            height: 100%;
            margin-top: 35px;
    }
    }
     @media (min-width: 481px) and (max-width: 1024px) {
        .big-img{
            width: 100%;
            height: 100%;
            margin-top: 20px;            
      }
    } 



/* meore bloki */
@media(min-width:320px) and (max-width: 480px){
    .conteiner2{
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
 }

 .boxes{
    flex-wrap: wrap;
    justify-content: center;
     }
}

@media(min-width:481px) and (max-width: 1024px){
    .conteiner2{
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
 }

 .boxes{
    flex-wrap: wrap;
    justify-content: center;
     }

.box1{
    width: 44%;
    margin-left: 3px;
    margin-right: 3px;  
}
}



















